.body{
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 584px) 1fr;
    grid-template-rows: min-content 1fr min-content;
}
.header{
    height: 48px;
    line-height: normal;
    padding-bottom: 0;
    padding-left: 32px;
    padding-right: 4px;
    padding-top: 0;
    grid-column: 1 / -1;
}
.navigation{
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr min-content max-content;
    column-gap: 10px;
    align-items: center;
}
.navigation-list{
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.navigation-link{
    padding: 5px;
    color: #202124;
    text-decoration: none;
}
.navigation-link:hover{
    text-decoration: underline;
}
.apps-button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.apps-icon{
    margin: auto;
    display: block;
    fill: #5f6368;
}
.apps-button:hover{
    background-color: #f2f2f2;
}
.sign-in-button{
    margin: 0;
    padding: 9px 23px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #1a73e8;
    background-color: #1a73e8;
    color: #ffffff;
}
.sign-in-button:hover{
    background-color: #1b66c9;
}
.main{
    grid-column: 2 / -2;
    padding: 15px 30px;
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 30px;
}
.main-title{
    margin-top: 198px;
    margin-bottom: 0px;
}
.main-buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.search{
    margin-top: 0px;
    display: flex;
    grid-template-columns: 44px 1fr 44px 44px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    justify-self: stretch;
}
.search-icon{
    padding-left: 10px;
    place-self: center;
    fill: #9aa0a6;
}
.search-input{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.search-button{
    margin: 0;
    padding: 9px 23px;
    border-radius: 4px;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
}
.search-button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.input-button{
    margin-right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.input-gap{
    margin-left: auto;
}
.input-margin{
    margin-right: 15px;
}
.footer{
    justify-self: stretch;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 130px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    color: #70757a;
    grid-column: 1 / -1;
}
.footer-gap{
    margin-left: auto;
}
.footer-center{
    place-self: center;
    margin-left: 35px;
}
.footer-text{
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}
.footer-list{
    margin: 0;
    padding: 15px 30px;
    list-style: none;
    display: flex;
    gap: 10px;
}
.footer-margin{
    margin-right: 30px;
}
.footer-link{
    padding: 15px;
    text-decoration: none;
    color: #70757a;
}
.footer-link:hover{
    text-decoration: underline;
}
.submit-text {
    background: transparent;
    border: none;
    width: 0px;
    height: 0px;
}