[*.cs]

# CS8601: Возможно, назначение-ссылка, допускающее значение NULL.
dotnet_diagnostic.CS8601.severity = none

# IDE0027: Использовать тело выражения для метода доступа
dotnet_diagnostic.IDE0027.severity = none

# CS8603: Возможно, возврат ссылки, допускающей значение NULL.
dotnet_diagnostic.CS8603.severity = none

# IDE0058: Значение выражения никогда не используется
dotnet_diagnostic.IDE0058.severity = none

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = none
